/*main pages*/
.main-pages {

    .anuncio-mujeres{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .flex-productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        

        .flex-productos1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
        }

        .flex-productos2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
        }

        .producto {
            img {
                width: 350px;
                height: 350px;
            }
        }
    }
    .swiffy-slider{
        width: 95%;
    }

    .video {
        display: flex;
        align-items: center;
        margin-top: 50px;

        h2 {
            width: 100%;
        }
    }
}