    // Media Query para tablets (max-width: 1024px)
    @media (min-width:768px) and (max-width: 1024px) {

        /* Estilos para tablet */
        /*Main*/
        .main-index {
            .anuncio {
                img {
                    width: 100%;
                    height: 10rem;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }

            .imagenes {
                display: grid;
                grid-template-columns: repeat(2, 20vh);
                grid-template-rows: repeat(2, 20vh);
                grid-template-areas:
                    "card1 card2 "
                    "card1 card3 ";
                gap: 5px;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .card1 {
                    grid-area: card1;
                }

                .card2 {
                    grid-area: card2;
                }

                .card3 {
                    grid-area: card3;
                }
            }

            .productos {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;

                img {
                    @extend %tamaño;
                }

                h2 {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            .just-do-it {
                img {
                    width: 100%;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .main-pages {
        .flex-productos {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            

            .flex-productos1 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-around;
                align-items: center;
            }

            .flex-productos2 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-around;
                align-items: center;
            }

            .producto {
                img {
                    width: auto;
                }
            }
        }

            .video {
                display: flex;
                align-items: center;
                margin-top: 50px;

                h2 {
                    width: 250px;
                }
            }
        }

    // Media Query para dispositivos móviles (max-width: 768px)
    @media screen and (max-width: 768px) {

        /* Estilos para móviles */
        header {
            background-color: black;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            padding: 10px;
        }

        nav {
            display: flex;
            flex-direction: column;

            a button {
                width: 100%;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }

        .logo {
            display: flex;
            justify-content: center;

            img {
                width: 40px;
            }
        }

        /* Main */
        .main-pages {
            .flex-productos {
                display: flex;
                flex-wrap: wrap;
                column-gap: 15%;

                .flex-productos1 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                    gap: 15px;
                }

                .flex-productos2 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                    gap:15px
                }

                .producto {
                    img {
                        width:auto;
                    }
                }

                .video {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 50px;
                    flex-wrap: nowrap;
                    justify-content: center;
                    video{
                        width: 300px;
                    }

                    h2 {
                        width: 300px;
                    }
                }
            }
        }

        .anuncio img {
            width: 100%;
            height: 5rem;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .imagenes {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 300px);
            grid-template-areas:
                "card1 "
                "card2 "
                "card3";
            gap: 10px;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
            }

            .card1 {
                grid-area: card1;
            }

            .card2 {
                grid-area: card2;
            }

            .card3 {
                grid-area: card3;
            }
        }

        /* Footer */
    }