/*Header*/
header{
    .logo{
        display: flex;
        justify-content: center;
        padding-left: 40px;
            a{
                text-decoration: none;
            }
            img{
                width: 70px;
                }
        }
    background-color: white;
    margin: 0px;
    @include flex (flex, center, space-between);
    padding: 30px;
    position: sticky;
    top:0;

}